---
layout: default
format: blog-index
# Don't index these pages dear Google.
noindex: true
---
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/58df3c1af7bbaa72709c3988/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<div class="row">
	<div>
<iframe src ="http://thuycanhcantho.blogspot.com" width="100%" height="800"> </iframe>
	</div>

</div><!-- /.row -->