---
layout: default
format: page-fullwidth
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title escape_once }}">
		{% if page.image.caption_url && page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->
<div class="row t30">
<!-- Social Share Button-->
    <!-- Anchors (links) -->
<h3>Share:</h3>
<a href="#" class="success button" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&title={{ page.title}}&picture={{site.url}}{{site.urlimg}}{{page.image}}&description={{page.teaser}}','facebook-share-dialog','width=626,height=436');return false;">Facebook</a>
<a href="http://twitter.com/intent/tweet?status={{ page.title }}+{{site.url}}{{page.url}}" class="alert button" onclick="window.open(this.href,&quot;popupwindow&quot;,&quot;status=0,height=500,width=700,resizable=0,top=50,left=100&quot;);return false;">Twitter</a>
<a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" class="warning button" onclick="window.open(this.href,&quot;popupwindow&quot;,&quot;status=0,height=500,width=700,resizable=0,top=50,left=100&quot;);return false;">Google+</a>
<a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{page.title}}&source={{site.url}}" class="button" onclick="window.open(this.href,&quot;popupwindow&quot;,&quot;status=0,height=500,width=700,resizable=0,top=50,left=100&quot;);return false;">Linked</a>

</div>

