---
layout: default
format: video
---
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/58df3c1af7bbaa72709c3988/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<div class="row">
	<div class="small-12 columns">
		<article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
			<div class="flex-video">
				{{ page.iframe}}
			</div>

			<div class="row">
				<div class="medium-offset-2 medium-8 end columns">
					<header>
						{% if page.subheadline %}<p class="subheadline t30">{{ page.subheadline }}</p>{% endif %}
						<h1 itemprop="name">{{ page.title }}</h1>
					</header>

					{% if page.video.thumbnailUrl %}<meta itemprop="thumbnailUrl" content="{{ page.video.thumbnailUrl }}" />{% endif %}
					{% if page.video.contentURL %}<meta itemprop="contentURL" content="{{ page.video.contentURL }}" />{% endif %}
					{% if page.video.embedURL %}<meta itemprop="embedURL" content="{{ page.video.embedURL }}" />{% endif %}

					{% if page.teaser %}
					<p class="teaser" itemprop="description">
						{{ page.teaser }}
					</p>
					{% endif %}

					{{ content }}
					{% if page.show_meta == true %}
					{% include _meta_information.html %}
					{% endif %}
				</div><!-- /.medium-8.columns -->
			</div><!-- /.row -->
		</article>

	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
